/* ABOUT US SECTION  */
.aboutus-section {
    min-height: 100vh;
}

.texts {
    margin-bottom: 30px;
}

.texts h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 60px;
    font-size: var(--h2-size);
}

.texts p {
    padding: 5px 15px;
    line-height: 1.8;
    background: #e534243a;
    border-radius: 5px;
}

.aboutus-section span {
    padding: 0 15px;
    background-color: var(--red-color);
    border-radius: 5px;
    color: var(--white-color);
}

.aboutus-section .row:nth-child(2) {
    margin-top: 60px;
}

.aboutus-section .row:nth-child(2) h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: var(--h2-size);
}

.explore-link {
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.explore-link a {
    color: var(--white-color);
    text-decoration: underline var(--white-color) 2px !important;
}

.explore-link i {
    margin-left: 2.5px;
    font-size: 15px;
    transition: transform 0.3s;
}

.explore-link:hover i {
    transform: rotate(45deg);
}

.aboutus-section .row:nth-child(2) > div {
    margin-bottom: 15px;
    text-align: center;
}

.aboutus-section .card {
    height: 450px;
    border: 1px solid var(--gray2-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.116);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
    position: relative;
}

.aboutus-section .card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutus-section .card .bg-back {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-section .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.aboutus-section .card .card-body p {
    color: var(--white-color);
}

.aboutus-section h3 {
    font-size: var(--h4-size);
}

/* RESPONSIVENEES */
@media screen and(min-width: 768px) {
    .aboutus-section .row:nth-child(2) div {
        margin-bottom: 0px;
    }
}
