@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Rubik:wght@300;500;600;700;800&display=swap');

:root {
    /* SIZES */
    --h1-size: 85px;
    --h2-size: 56.8429px;
    --h3-size: 38.0132px;
    --h4-size: 25.4209px;
    --small-size: 11.3686px;
    /* COLORS */
    --red-color: #e53324;
    --white-color: #fff;
    --black-color: #1c1817;
    --gray1-color: #524c4b;
    --gray2-color: #978886;
    --gray3-color: #f2e2e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: clamp(1em, 0.2083vw + 0.9437em, 1.0625em);
}

/* Hide both vertical and horizontal scroll bars */
body {
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}

/* Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0px; /* Set width for the vertical scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb (the draggable part) */
}

body::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the track (the area behind the thumb) */
}

h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

a:visited,
a:link,
a:active {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    color: var(--gray1-color);
}

button a {
    color: var(--white-color);
}
