/* OUR CARS SECTION  */
.cars-section {
    min-height: 100vh;
    /* margin-bottom: 60px; */
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cars-section h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: var(--h2-size);
}

.cars-section span {
    padding: 0 15px;
    background-color: var(--red-color);
    border-radius: 5px;
    color: var(--white-color);
}

.slider-wrapper {
    width: 100%;
    max-width: 500px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border: 1px solid; */
}

.cars-btns {
    padding: 15px 10px 15px 0;
    height: 250px;
    /* border-left: 1px solid var(--gray1-color); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0px;
    z-index: 1;
    /* overflow-y: hidden; */
    overflow-x: scroll;
}

.cars-btns div {
    width: 70px;
    margin-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars-btns div img {
    width: 100%;
    opacity: .3;
    border-bottom: 1px solid transparent;
}

.cars-btns div img.active-car-btn{
    opacity: 1;
    border-bottom: 1px solid var(--gray2-color);
}

.cars-holder {
    width: 250px;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.cars-holder div {
    position: absolute;
    top: 50%;
    right: -100vw;
    transform: translate(50%, -50%);
    transition: all .3s;
}

div.active-car{
    right: 50%;
}

.cars-holder img {
    /* width: 100%; */
}

.shape{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    z-index: -1;
    clip-path: polygon(59% 65%, 100% 0, 100% 100%, 0% 100%);
}

.cars-btns::-webkit-scrollbar {
    width: 2px; /* Set width for the vertical scrollbar */
}

.cars-btns::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb (the draggable part) */
}

.cars-btns::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the track (the area behind the thumb) */
}

